$s1: rgba(0, 0, 0, 0.1) 0px 4px 12px;
$s2: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
  rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
$s3: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
$s4: rgba(0, 0, 0, 0.08) 0px 4px 12px;
$s5: rgba(0, 0, 0, 0.15) 0px 2px 8px;
$s6: rgba(0, 0, 0, 0.18) 0px 2px 4px;
$s7: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
