@use '@styles/variables/colors';
@use '@styles/mixins' as *;

.reviews {
  display: flex;
  justify-content: space-between;

  @include breakpoint(max-sm) {
    flex-direction: column;
  }
}

.imageGroupWrapper {
  flex-shrink: 0;
  margin-top: -100px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-top: 50%;

  @include col($sm: 6);

  @include breakpoint("max-sm") {
    padding-top: 100%;
  }
}

.imageGroup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.reviewImage {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;

  & + & {
    margin-left: 20px;
  }

  &:first-child {
    margin-top: 10%;
    height: 70%;
  }

  &:last-child {
    margin-top: 20%;
    height: 70%;
  }
}

.reviewContentWrapper {
  @include col($sm: 5);
}

.reviewContent,
.content {
  margin-top: 100px;

  h3 {
    @include heading-3;
  }

  p {
    margin-top: 20px;
    @include text-md;
    color: colors.$dark-gray;
  }

  span {
    margin-top: 20px;
    display: block;
    @include text;
  }

  a {
    margin-top: 60px;
    display: block;
    @include text-bold;
    color: colors.$orange;
  }

  @include breakpoint("max-md") {
    margin-top: 60px;

    h3 {
      @include heading-4;
    }

    p {
      @include text;
    }

    a {
      margin-top: 40px;
    }
  }
}

.post {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;

  @include breakpoint(max-sm) {
    margin-top: 100px;
    flex-direction: column-reverse;
  }
}

.post.reverse {
  flex-direction: row-reverse;
  @include col(11);

  @include breakpoint(max-sm) {
    flex-direction: column-reverse;
  }
}

.content {
  margin-top: 60px;
  @include col($sm: 5);

  @include breakpoint("max-md") {
    margin-top: 0;
  }

  @include breakpoint("max-sm") {
    margin-top: 40px;
  }
}

.post.reverse .content,
.post.reverse .image {
  @include col(11, 11, 5, 11);
}

.image {
  position: relative;
  width: 100%;
  height: 40vw;
  max-height: 500px;
  border-radius: 8px;
  overflow: hidden;
  @include col($sm: 5);
}
