@use "@styles/variables/shadows";

.container {
  width: calc(100% + 20px);
  overflow: hidden;
  margin-right: -20px;
  box-shadow: inset -20px 0 10px #fff;
}

.item {
  padding-right: 20px;
}

.button {
  position: absolute;
  right: 5px;
  border-radius: 100vh;
  box-shadow: shadows.$s2;
  width: 48px;
  height: 48px;
  color: transparent;
  font-size: 0;
  line-height: 0;
  background-color: white;
  background-image: url("/assets/chevron-down.svg");
  transform: rotate(-90deg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
